/* This program has been developed by students from the bachelor Computer Science at Utrecht University within the
// Software and Game project course.
// ©Copyright Utrecht University Department of Information and Computing Sciences.
*/

.course_list{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
}


.course_list_item .course_gobutton{
    width: 40px;
}

