<!-- 
This program has been developed by students from the bachelor Computer Science at Utrecht University within the
Software and Game project course.
©Copyright Utrecht University Department of Information and Computing Sciences.
-->

<div id="participation_block_chartcontainer" style="width: 100%;">
    <canvas id="participation_block_chart"></canvas>
</div>